parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - src/Bootstrap/App.php
    ignoreErrors:
        - '#Call to an undefined method PDO::#'
        - '#Access to an undefined property PDO::#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false